<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>But du jeu - Pendu</title>
        <link rel="stylesheet" href="../assets/css/style.css">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="../index.html" class="boldText" title="Pendu">Pendu</a>
                    </li>
                    <li>
                        <a href="rules.html" title="But du jeu">But du jeu</a>
                    </li>
                    <li>
                        <a href="https://github.com/enioaiello/pendu" target="_blank" title="Consulter le code source sur GitHub">Code source</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <h2>But du jeu</h2>
            <p>Le jeu est simple, il s'agit simplement de deviner un ou plusieurs mot(s) sans que le bonhomme se pende. Chaque case vide représente une lettre.</p>
            <p>Généralement, le pendu se joue à plusieurs mais vous pouvez très bien jouer tout seul sur cette version.</p>
        </main>
        <footer>
            <p>Créé avec ❤️ par <a href="https://github.com/enioaiello" target="_blank">Enio Aiello</a></p>
        </footer>
    </body>
</html>