* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 3vh;
    font-family: sans-serif;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    padding: 1%;
}

li a {
    color: black;
    text-decoration: none;
    float: left;
}

.boldText {
    font-weight: bold;
}

main {
    width: 80%;
    margin: 0 auto;
}

div {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1%;
}

span {
    margin: 0 1%;
    display: inline-block;
    width: 2%;
    border-bottom: 3px solid black;
    color: white;
}

footer {
    font-size: 2vh;
    text-align: center;
}

footer a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

input:disabled {
    cursor: not-allowed;
}

.letter {
    color: black;
    border-bottom: none;
}

.none {
    display: none;
}